$primaryColor: #ffd233;
$secondaryColor: #008b8b;
$whiteText: #fff;
$bgColor: #232323;
$inputBg: #373939;
$inputStroke: #4d4d4d;
$trendCardBg: #373939;
$trendDateColor: #d9d9d9;
$black: #000000;
$greyText: #8e8e8e;
$footerGreyBg: #999898;
$textDark: #1e1e1e;
$primaryHover: #4d4312;
$cardbg: #2c2e2e;
$btnDarkOutline: #2c2c2c;
$cardPlusBg: rgb(36, 35, 35);
$yellowGradient: #4d4312a2;
$greenGradient: #008b8b99;
$redbg: #b90808;
