@import "../../../colors";
@import "../../mixins/mixins.scss";

.root {
  * {
    margin: 8px 0;
  }
}
.root_enable {
  height: 40px;
  padding: 0px 18px;
  border-radius: 2px;
  @include flex(center, center);
  box-shadow: "none";
  text-transform: capitalize;
  font-size: 16;
  font-weight: bold;
  border: none;
  line-height: 1.5;
  background-color: $primaryColor;
  color: $whiteText;
  cursor: pointer;
  &:hover {
    background-color: $primaryHover;
    border-color: $secondaryColor;
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
    background-color: $primaryColor;
    border-color: $secondaryColor;
  }
  @media screen and (max-width: 768px) {
    font-size: 11px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
}
.root_disabled {
  height: 35px;
  padding: 0px 10px;
  border-radius: 2px;
  @include flex(center, center);
  box-shadow: none;
  text-transform: capitalize;
  font-size: 16;
  border: none;
  line-height: 1.5;
  color: $whiteText;
  background-color: $greyText;
  border-color: $trendDateColor;
  cursor: not-allowed;
  pointer-events: none;
}
.outlineBtn {
  background-color: transparent;
  border-radius: 4;
  color: $whiteText;
  border: 1px solid $whiteText;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
}
.outlineDarkBtn {
  background-color: $btnDarkOutline;
  border-radius: 4;
  color: $whiteText;
  border: 1px solid $black;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
}
.PrimaryColor {
  background-color: $primaryColor;
  color: $textDark;
  cursor: pointer;
  font-weight: bold;
}
.secondaryColor {
  background-color: $secondaryColor;
  color: $whiteText;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
