/* Disover section*/

.discover-section {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.541),
      rgba(0, 0, 0, 0.425)
    ),
    url(../../../images/poor1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .title {
    color: white;
    text-align: left;
    margin: 5px 20px;
    font-size: 0.7rem;
  }
  .discover-card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(20, 250px);
    grid-gap: 60px;
    overflow-y: hidden;
    margin: 0 30px;
  }
}
