@import "../../../colors";

.watch-msg {
  padding: 10px 0;
  min-height: 100vh;
  h1 {
    margin-bottom: 30px;
    color: $secondaryColor;
    font-size: 1.8rem;
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
      width: 100%;
    }
  }
  .watchmsg-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    img {
      max-width: 30%;
      @media screen and (max-width: 600px) {
        max-width: 60%;
      }
    }
  }
  .watchlist-card {
    background-color: $inputBg;
    color: $black;
    border: none;
    margin: 10px 30px;
  }
}

.watch-card {
  display: flex;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  .watchcard--img {
    width: 15%;
    @media screen and (max-width: 600px) {
      max-width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  .watchcard--content {
    width: 55%;
    text-align: left;
    margin: 10px 30px;
    .rating {
      font-weight: bold;
    }
    p {
      margin: 10px 0;
      color: $trendDateColor;
    }
    .fa-star {
      margin-right: 5px;
      color: burlywood;
    }
    h1 {
      font-size: 18px;
      margin: 5px 0;
    }
  }
}
