.watch-msg{
    color: white;
}
.watch-msg h2{
  margin: 20px 0;
}
.watchlist-card{
    background-color: white;
    color: black;
    border: none;
    margin: 25px 0;
}
.watch-card{
    display: flex;
}
.watch-card p{
    font-weight: bold;
    margin: 5px 0;
}
.watchcard--img{
    max-width: 15%;
}
.watch-btn{
    width: 20%;
    height: 40px;
    border-radius: 8px;
    margin: 10px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2929e5;
    border: none;
    color: teal;
    cursor: pointer;
}
.watchcard--content{
 width: 75%;
 text-align: left;
 margin: 10px 30px;
}