@import "../../../colors";
@import "../../mixins/mixins.scss";

.toast {
  color: $secondaryColor;
}
.moviescard {
  background-color: $cardbg;
  opacity: 1;
  margin: 10px 0;
  position: relative;
  @media screen and (max-width: 1024px) {
    margin: 0;
  }
  .lozad {
    @include widthandheight(100%, 30vh);
    object-fit: cover;
    // @media screen and (max-width: 1024px) {
    //   height: 20vh;
    // }
  }
  .moviescardcontent {
    color: white;
    padding: 14px;
    text-align: left;
    .fa-star {
      padding-right: 4px;
      color: burlywood;
    }
    h5 {
      margin: 5px 0;
      text-align: left;
    }
    .rating {
      font-size: 0.8rem;
      font-weight: bold;
    }
    .releasedate {
      font-size: 0.8rem;
    }
    .plusdiv {
      .click-btn {
        position: absolute;
        bottom: 85%;
        right: 12px;
        margin: 10px 0;
        padding: 4px 2px;
        border-radius: 7px;
        @include flex(center, center);

        background-color: $cardPlusBg;
        border: none;
        color: $whiteText;
        cursor: pointer;
        &:hover {
          background-color: $greyText;
        }
      }
      .fa-plus {
        font-size: 0.8rem;
        margin: 0 4px;
      }
    }
  }
}
