@import "colors.scss";
@import "../../mixins/mixins.scss";

.homewrapper {
  padding: 0 70px;
  color: $cardbg;
  @media screen and (max-width: 1024px) {
    padding: 0 20px;
  }
}

//MEDIA QUERIES
@media screen and (max-width: 1024px) {
  .first-section {
    height: 45vh;
    h1 {
      font-size: 1.4rem;
      padding-top: 60px;
    }
    .title {
      font-size: 0.6rem;
      .line {
        @include widthandheight(60px, 5px);
      }
    }
  }
  .card-overall {
    left: 40px;
    top: 40%;
    left: 5%;
    width: 90%;
  }
  .search-card {
    width: 85%;
  }
}

//SCROLLBAR STYLES

::-webkit-scrollbar {
  @include widthandheight(8px, 7px);
}
::-webkit-scrollbar-track {
  background: $trendDateColor;
}
::-webkit-scrollbar-thumb {
  background-color: $secondaryColor;
  border-radius: 20px;
  border: 2px solid $whiteText;
}
