.homewrapper {
  padding: 0 70px;
}

//MEDIA QUERIES
@media screen and (max-width: 600px) {
  .first-section {
    height: 45vh;
    h1 {
      font-size: 1.4rem;
      padding-top: 60px;
    }
    .title {
      font-size: 0.6rem;
      .line {
        width: 60px;
        height: 5px;
      }
    }
  }
  .card-overall {
    left: 40px;
    top: 40%;
    left: 5%;
    width: 90%;
  }
  .search-card {
    width: 85%;
  }
}

//SCROLLBAR STYLES

::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
  border: 2px solid white;
}
