@import "../../../colors";

.main-section {
  .listDesc {
    color: $whiteText;
    text-align: left;
    width: 40%;
    padding: 15px 0;
  }
  .nolist {
    padding: 40px 0;
    color: $greyText;
  }
  .listWrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(20, 260px);
    grid-gap: 20px;
    overflow-x: scroll;
  }
}
