@import "../../../colors";
@import "../../mixins/mixins.scss";

.main-section {
  .nolist {
    padding: 40px 0;
    color: $greyText;
  }
  .listWrapper {
    position: relative;
    @include grid(repeat(20, 260px));
    grid-gap: 20px;
    overflow-x: scroll;
  }
}
