@import "../../../colors";

.card {
  // background-color: #242323;
  height: 100%;
  position: relative;
  background: linear-gradient(to bottom, #8b887547, #0e0e0e 95%);

  .lozad {
    max-width: 100%;
    // height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  .cardcontent {
    position: absolute;
    z-index: 9;
    bottom: 0;
    color: $whiteText;
    margin: 10px 10px;
    text-align: left;
    h5 {
      color: $greyText;
      @media screen and (max-width: 1024px) {
        font-size: 0.7rem;
      }
    }
    h4 {
      @media screen and (max-width: 1024px) {
        font-size: 0.9rem;
      }
    }
    .lang {
      text-transform: uppercase;
      font-size: 0.8rem;
      padding: 4px 0;

      .ratinglang {
        font-size: 0.8rem;
        font-weight: bold;
        color: $whiteText;
        padding-right: 5px;

        .fa-star {
          color: $primaryColor;
        }
      }

      p {
        margin: 3px 0;
        color: $greyText;
        font-size: 0.8rem;
      }
      .fa-plus {
        font-size: 1.2rem;
        margin: 0 4px;
      }
    }
  }
}
