@import "../../../../colors";
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import "../../../mixins/mixins.scss";

.first-section {
  @include widthandheight(100%, 100vh);
  position: relative;
  padding: 0px 70px;
  @media screen and (max-width: 1024px) {
    padding: 30px 10px;
    min-height: 70vh;
  }
  .marqueEl {
    color: $whiteText;
    font-size: 15rem;
    position: absolute;
    top: 10%;
    z-index: 999;
    max-width: 100%;
    opacity: 5%;
    transform: translateY(-50px, 50px);
    font-family: "Londrina Outline", cursive;
    animation: marquee 60s linear infinite;
    @keyframes marquee {
      0% {
        transform: translateX(20%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    @media screen and (max-width: 1024px) {
      display: none;
      animation: none;
    }
  }
  .heroDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    h1 {
      font-size: 3.5rem;
      color: $whiteText;
      text-align: left;
      // padding-left: 30px;
      font-family: "Arvo", serif;
      @media screen and (max-width: 1024px) {
        font-size: 2.6rem;
        padding-left: 0px;
      }
    }
    p {
      position: relative;
      padding: 14px 0;
      color: $primaryColor;
      font-size: 1.5rem;
      font-weight: bold;
      // left: 16%;
      // @media screen and (max-width: 1024px) {
      //   left: 6%;
      // }
    }
    h4 {
      color: $whiteText;
      position: relative;
      padding: 4px 0;
      // left: 16%;
      // @media screen and (max-width: 1024px) {
      //   left: 6%;
      // }
    }
    .genrediv {
      display: flex;
      position: relative;
      padding: 20px 0;
      // left: 16%;
      // @media screen and (max-width: 1024px) {
      //   left: 6%;
      // }
    }
    .heroDescriptionDiv {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      width: 55%;
      min-height: 20vh;
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 40px 10px;
        p {
          q {
            display: flex;
            width: 90%;
            flex-wrap: wrap;
          }
        }
      }
    }
    .iframeStyle {
      background: linear-gradient(
        to bottom,
        rgba(0, 139, 139, 0.598) 40%,
        #1e1e1e 90%
      );
      position: relative;
      border-radius: 20px;
      width: 35%;
      margin: 0 50px;

      .poster_img {
        @include widthandheight(100%, 70vh);
        border-radius: 20px;
      }
    }
    .watchbtndiv {
      .watchbtn {
        position: absolute;
        cursor: pointer;
        top: 27%;
        right: 7%;
        background-color: $redbg;
        color: $whiteText;
        border: 1px solid red;
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }
  }
}
