@import "../../../../colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import "../../../mixins/mixins.scss";

.first-section {
  @include widthandheight(100%, 100vh);
  position: relative;
  padding: 0 30px;
  @media screen and (max-width: 1024px) {
    padding: 30px 10px;
    min-height: 70vh;
  }
  .marqueEl {
    color: $whiteText;
    font-size: 15rem;
    position: absolute;
    top: 10%;
    z-index: 999;
    max-width: 100%;
    opacity: 5%;
    transform: translateY(-50px, 50px);
    font-family: "Londrina Outline", cursive;
    animation: marquee 60s linear infinite;
    @keyframes marquee {
      0% {
        transform: translateX(20%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    @media screen and (max-width: 1024px) {
      display: none;
      animation: none;
    }
  }
  .heroDiv {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 5rem;
      color: $whiteText;
      text-align: left;
      padding-top: 14%;
      padding-left: 30px;
      font-family: "Roboto", sans-serif;
      @media screen and (max-width: 1024px) {
        font-size: 2.6rem;
        padding-left: 0px;
      }
    }
    p {
      position: relative;
      padding: 14px 0;
      left: 16%;
      color: $primaryColor;
      @media screen and (max-width: 1024px) {
        left: 6%;
      }
    }
    h4 {
      color: $whiteText;
      position: relative;
      padding: 4px 0;
      left: 16%;
      @media screen and (max-width: 1024px) {
        left: 6%;
      }
    }
    .genrediv {
      display: flex;
      position: relative;
      padding: 20px 0;
      left: 16%;
      @media screen and (max-width: 1024px) {
        left: 6%;
      }
    }
    .heroDescriptionDiv {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      padding: 0px 10px;
      width: 80%;
      min-height: 20vh;
      flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 40px 10px;
        p {
          q {
            display: flex;
            width: 90%;
            flex-wrap: wrap;
          }
        }
      }
    }
    .iframeStyle {
      position: absolute;
      bottom: 2%;
      right: 70px;
      @media screen and (max-width: 1024px) {
        bottom: 5%;
        right: 30px;
      }
      iframe {
        @include widthandheight(323px, 326px);
        @media screen and (max-width: 1024px) {
          @include widthandheight(223px, 226px);
        }
      }
    }
  }
}
