@import "../../../../colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

.first-section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 30px;
  @media screen and (max-width: 1024px) {
    padding: 30px 10px;
    min-height: 70vh;
  }
  .marqueEl {
    color: $whiteText;
    font-size: 15rem;
    position: absolute;
    top: 10%;
    z-index: 999;
    width: 100%;
    opacity: 5%;
    transform: translateY(-50px, 50px);
    font-family: "Londrina Outline", cursive;
    animation: marquee 60s linear infinite;
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    @media screen and (max-width: 1024px) {
      display: none;
      animation: none;
    }
  }
  .heroDiv {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 4rem;
      color: $whiteText;
      text-align: left;
      padding-top: 17%;
      font-family: "Roboto", sans-serif;
      @media screen and (max-width: 1024px) {
        font-size: 3rem;
      }
    }
    p {
      position: relative;
      padding: 14px 0;
      left: 16%;
      color: $primaryColor;
    }
    h4 {
      color: $whiteText;
      position: relative;
      padding: 4px 0;
      left: 16%;
    }
    .genrediv {
      display: flex;
      position: relative;
      padding: 20px 0;
      left: 16%;
    }
    .heroDescriptionDiv {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      padding: 70px 10px;
      width: 80%;
      min-height: 20vh;
      flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 90px 10px;
        p {
          q {
            display: flex;
            width: 90%;
            flex-wrap: wrap;
          }
        }
      }
    }
    .iframeStyle {
      position: absolute;
      bottom: 2%;
      right: 70px;
      @media screen and (max-width: 1024px) {
        bottom: 12%;
      }
      iframe {
        width: 323px;
        height: 326px;
        @media screen and (max-width: 1024px) {
          width: 253px;
          height: 256px;
        }
      }
    }
  }
}
