nav {
    padding: 10px 0;
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 40px;
    @media screen and (max-width: 600px) {
      margin: 0 10px;
    }
      .logo{
        .link{
          text-decoration: none;
          h2{
            color: white;
            border: 2px solid teal;
            border-radius: 6px;
            padding: 3px 20px;
          }
        }
      }
      .navbar-list{
        .navLists{
          display: flex;
          font-weight: bold;
          list-style: none;
          margin: 15px 0;
          .link{
            text-decoration: none;
            margin: 0 8px;
            color: white;
            h2{
              font-family:Georgia, 'Times New Roman', Times, serif;
            }
          }
        }
      }
    }
  }

@media screen and (max-width:600px){
  nav{
    min-height: 5vh;
  }
}