@import "../../../colors";
@import "../../mixins/mixins.scss";

header {
  @include flex(center, space-between);
  @include widthandheight(100%, 70px);
  padding: 0px 70px;
  position: fixed;
  z-index: 999;
  @media screen and (max-width: 1024px) {
    padding: 0px 20px;
  }
  .responsive_nav {
    @media screen and (max-width: 1024px) {
      transform: none;
    }
  }
  .logo {
    .link {
      text-decoration: none;
      h3 {
        color: $whiteText;
        border-radius: 6px;
        padding: 3px 5px;
        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }
  }
  nav {
    @include flex(center, space-between);
    @media screen and (max-width: 1024px) {
      position: fixed;
      top: 0;
      left: 0;
      @include widthandheight(100%, 100%);
      z-index: 999;
      transition: 1s;
      transform: translateY(-180vh);
      background-color: $cardbg;
      color: $whiteText;
      @include flex(center, center);
    }
    .navbar {
      @include flex(center, space-between);
      @media screen and (max-width: 1024px) {
        margin: 0 10px;
        flex-direction: column;
      }
      .navLists {
        display: flex;
        font-weight: bold;
        list-style: none;
        margin: 8px 0;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
        .btnClass {
          margin: 0 10px;
          @include flex(center, center);
          @media screen and (max-width: 1024px) {
            flex-direction: column;
          }
          .btnSignIn {
            margin: 0 10px;
          }
          .profilediv {
            @include flex(center, center);
            h4 {
              color: $whiteText;
            }
            img {
              border-radius: 50%;
              @include widthandheight(40px, 40px);
              margin: 0 10px;
            }
          }
        }
        .link {
          text-decoration: none;
          margin: 0 8px;
          color: $whiteText;
          @media screen and (max-width: 1024px) {
            margin: 12px 0;
          }
          h2 {
            font-family: Georgia, "Times New Roman", Times, serif;
          }
          .listLengthSpan {
            background-color: $whiteText;
            color: $textDark;
            border: 1px solid $secondaryColor;
            padding: 0px 6px;
          }
        }
        .nav-btn {
          @include nav-btn;
        }
        .nav-closebtn {
          position: absolute;
          top: 2%;
          right: 2%;
        }
      }
    }
  }
  .nav-btn {
    @include nav-btn;
  }

  @media screen and (max-width: 600px) {
    nav {
      min-height: 5vh;
    }
  }
}
