@import "../../../colors";

nav {
  padding: 0px 20px;
  position: fixed;
  width: 100%;
  // background-color: transparent;
  z-index: 2;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    @media screen and (max-width: 600px) {
      margin: 0 10px;
    }
    .logo {
      .link {
        text-decoration: none;
        h3 {
          color: white;
          border-radius: 6px;
          padding: 3px 5px;
        }
      }
    }
    .navbar-list {
      .navLists {
        display: flex;
        font-weight: bold;
        list-style: none;
        margin: 8px 0;
        .btnClass {
          margin: 0 10px;
        }
        .link {
          text-decoration: none;
          margin: 0 8px;
          color: white;
          h2 {
            font-family: Georgia, "Times New Roman", Times, serif;
          }
          .listLengthSpan {
            background-color: $whiteText;
            color: $textDark;
            border: 1px solid teal;
            padding: 0px 6px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    min-height: 5vh;
  }
}
