@import "../../../../colors";

.searchResult {
  padding: 50px 0;
  .searchDesc {
    color: $whiteText;
    text-align: left;
    width: 40%;
    padding: 15px 0;
  }
  .search-section {
    .search-form {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      .search-input {
        padding: 13px;
        width: 90%;
        background-color: $inputBg;
        border: 1px solid $inputStroke;
        &::placeholder {
          color: $greyText;
        }
      }
      .search-btn {
        padding: 12px;
        background-color: $primaryColor;
        margin: 0 10px;
        color: $textDark;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        &:hover {
          background-color: $primaryHover;
        }
      }
    }
  }
}

/*Search Card section*/

.card-overall h2 {
  color: white;
}
.search-result {
  background: #1a1a1a;
  color: white;
  h2 {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
  }
  .search-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 20px;
    padding: 20px;
    color: white;
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(auto-fill, 310px);
      position: relative;
      z-index: 9;
      background: #1a1a1a;
    }
  }
}

.cancel-btn {
  position: absolute;
  right: 60px;
  z-index: 2;
  cursor: pointer;
  font-size: 2rem;
  @media screen and (max-width: 600px) {
    right: 0;
  }
}
.cancel {
  display: none;
}
