@import "../../../../colors";
@import "../../../mixins/mixins.scss";

.searchResult {
  padding: 50px 0;
  @media screen and (max-width: 1024px) {
    padding: 0px;
  }
  .search-section {
    .search-form {
      margin-top: 20px;
      @include flex(center, flex-start);
      flex-direction: row;
      @media screen and (max-width: 1024px) {
        margin-top: 0;
        flex-direction: column;
        @include flex(flex-start, flex-start);
      }
      .search-input {
        padding: 13px;
        width: 90%;
        background-color: $inputBg;
        color: $whiteText;
        border: 1px solid $inputStroke;
        &::placeholder {
          color: $greyText;
        }
        @media screen and (max-width: 1024px) {
          margin-right: 10px;
          width: 100%;
        }
      }
      .search-btn {
        padding: 12px;
        background-color: $primaryColor;
        margin: 0 10px;
        color: $textDark;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        &:hover {
          background-color: $primaryHover;
        }
      }
    }
  }
}
