@import "../../../colors";
@import "../../mixins/mixins.scss";

footer {
  background-color: $inputBg;
  min-height: 30vh;
  .footerClass {
    @include flex(flex-start, space-between);
    padding: 80px 70px;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      padding: 40px 30px;
    }
    .footerDesc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        color: $whiteText;
        margin: 10px 0;
        text-align: left;
      }
      p {
        color: $whiteText;
        font-size: 0.8rem;
        padding: 10px 0px;
        width: 80%;
        @media screen and (max-width: 600px) {
          text-align: left;
        }
      }
    }
    .footerIcons {
      @media screen and (max-width: 1024px) {
        padding: 20px 0px;
      }
      p {
        color: $whiteText;
      }
      .icons {
        .fa-linkedin-in,
        .fa-instagram,
        .fa-twitter,
        .fa-github {
          color: $trendDateColor;
          font-size: 1.4rem;
          margin: 20px 15px;
          @media screen and (max-width: 600px) {
            margin: 20px 0px;
            padding-right: 10px;
          }
        }
      }
      .footercopy {
        color: $footerGreyBg;
        @media screen and (max-width: 600px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
