footer{
    background-color: #1a1a1a;
    min-height: 20vh;
  }
  .footerClass ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  .footerClass h1{
    color: white;
    font-weight: bold;
  }
  .footerClass p{
    color: grey;
    font-weight: bold;
  }