@import "../../../colors";

footer {
  background-color: $inputBg;
  min-height: 30vh;
  .footerClass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 70px;
    .footerDesc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        color: $whiteText;
        margin: 10px 0;
        text-align: left;
      }
      p {
        color: $whiteText;
        font-size: 0.8rem;
        padding: 10px 0px;
        width: 80%;
        @media screen and (max-width: 600px) {
          text-align: center;
        }
      }
    }
    .footerIcons {
      p {
        color: $whiteText;
      }
      .icons {
        .fa-linkedin-in,
        .fa-instagram,
        .fa-twitter,
        .fa-github {
          color: rgba(255, 255, 255, 0.692);
          font-size: 1.4rem;
          margin: 20px 15px;
        }
      }
      .footercopy {
        color: $footerGreyBg;
      }
    }
  }
}
