@import "../../../../colors";
@import "../../../mixins/mixins.scss";

.main-section {
  padding: 20px 0;
  @media screen and (max-width: 1024px) {
    padding: 10px 0px;
  }
  .heading {
    padding: 20px 0;
    h2,
    p {
      color: $whiteText;
      margin: 15px 0;
    }
  }
  .arrowicon {
    @include flex(center, flex-end);
    cursor: pointer;
    .arrowcss {
      font-size: 1.2rem;
      color: $whiteText;
      font-weight: bold;
      display: flex;
      align-items: center;
      span {
        font-size: 0.8rem;
        margin: 0 2px;
        @media screen and (max-width: 1024px) {
          padding: 10px 0;
        }
      }
    }
  }
  .main-card {
    position: relative;
    @include grid(repeat(20, 260px));
    grid-gap: 20px;
    overflow-x: scroll;
  }
}
