@import "../../../colors";

.moviedetail-page {
  .detail-content {
    a {
      color: teal;
    }
    .moviedetail-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 120px 60px;

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      .imgDiv {
        width: 30%;
        border-radius: 10px;
        .lozad {
          width: 100%;
          height: 450px;
          object-fit: cover;
          border-radius: 10px;
          position: relative;
          // z-index: -1;
        }
      }
      .moviedetail-content {
        text-align: left;
        margin: 0 30px;
        width: 70%;
        @media screen and (max-width: 600px) {
          margin: 20px 5px;
        }
        .genre {
          display: flex;
        }
        .fa-star {
          padding-right: 6px;
          color: burlywood;
        }
        .rating {
          padding: 6px 0px;
          font-weight: bold;
        }
        h1 {
          color: $whiteText;
          font-weight: bold;
          padding: 15px 0;
        }
        p {
          color: $whiteText;
          padding: 10px 0;
        }
        h5 {
          color: $whiteText;
          padding: 10px 0;
          span {
            color: teal;
            padding: 0 5px;
          }
        }
      }
    }
    .moviestyles {
      padding: 0 35px;
      .movie-video {
        padding: 30px;
        .videodiv {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          row-gap: 20px;
        }
        @media screen and (max-width: 600px) {
          grid-template-columns: 1fr;
          margin: 0;
        }
      }
      .companies {
        padding: 10px 30px;
        list-style: none;
        color: teal;
        .companies-list {
          display: flex;
          align-items: center;
          @media screen and (max-width: 600px) {
            flex-direction: column;
          }
          .prodImgDiv {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $greyText;
            min-height: 100px;
            margin-right: 8px;
            .noImageDiv {
              padding: 0px 10px;
            }
            img {
              max-width: 30%;
              @media screen and (max-width: 600px) {
                width: 13%;
              }
            }
          }
        }
      }
      .similarsect {
        padding: 40px 30px;
        .similarDiv {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          row-gap: 50px;
          column-gap: 20px;
          @media screen and (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
          }
          .similar-card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            img {
              max-width: 100%;
              height: 260px;
            }
            .noImageDiv {
              background-color: $greyText;
              width: 100%;
              padding: 121px 0;
            }
            p {
              color: $whiteText;
            }
            h4 {
              color: $whiteText;
              text-align: left;
            }
            .fa-star {
              padding-right: 6px;
              color: burlywood;
            }
            .rating {
              font-weight: bold;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
}
