@import "../../../colors";
@import "../../mixins/mixins.scss";

.moviedetail-page {
  .detail-content {
    a {
      color: $secondaryColor;
    }
    .moviedetail-wrapper {
      @include flex(center, center);
      padding: 120px 60px;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: 120px 0px;
      }
      .imgDiv {
        width: 30%;
        border-radius: 10px;
        @media screen and (max-width: 1024px) {
          width: 85%;
          margin-right: 20px;
        }
        .lozad {
          @include widthandheight(100%, 450px);
          object-fit: cover;
          border-radius: 10px;
          position: relative;
          @media screen and (max-width: 1024px) {
            height: 350px;
          }
        }
      }
      .moviedetail-content {
        text-align: left;
        margin: 0 30px;
        width: 50%;

        @media screen and (max-width: 1024px) {
          margin: 20px 5px;
          width: 85%;
        }
        .genre {
          display: flex;
        }
        .fa-star {
          padding-right: 6px;
          color: burlywood;
        }
        .rating {
          padding: 6px 0px;
          font-weight: bold;
        }
        h1 {
          color: $whiteText;
          font-weight: bold;
          padding: 15px 0;
        }
        p {
          color: $whiteText;
          padding: 10px 0;
        }
        h5 {
          color: $whiteText;
          padding: 10px 0;
          span {
            color: teal;
            padding: 0 5px;
          }
        }
        .modalBtnDiv {
          @include flex(center, flex-start);
          button {
            margin-right: 10px;
          }
        }

        .modal {
          @include widthandheight(65%, 80vh);
          background-color: $cardPlusBg;
          @include flex(center, center);
          position: absolute;
          z-index: 9;
          transform: translate(-35%, -85%);
          .framecss {
            @include widthandheight(100%, 80vh);
            padding: 30px;
          }

          .cancel {
            position: absolute;
            right: 2%;
            top: 2%;
            cursor: pointer;
            color: $whiteText;
          }
        }
      }
    }
    .moviestyles {
      padding: 0 35px;
      .movie-video {
        padding: 30px;
        @media screen and (max-width: 1024px) {
          padding: 0px;
        }
        .videodiv {
          @include grid(repeat(4, 1fr));
          row-gap: 20px;
          @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
          }
          @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
          }
        }
      }
      .companies {
        padding: 10px 30px;
        list-style: none;
        color: $secondaryColor;
        @media screen and (max-width: 1024px) {
          padding: 10px 0px;
        }
        .companies-list {
          display: flex;
          align-items: center;
          .prodImgDiv {
            @include flex(center, center);
            flex-wrap: wrap;
            background-color: $greyText;
            min-height: 100px;
            margin-right: 8px;
            @media screen and (max-width: 600px) {
              margin-right: 0px;
              margin-top: 10px;
            }

            .noImageDiv {
              padding: 0px 10px;
            }
            img {
              max-width: 30%;
              @media screen and (max-width: 600px) {
                width: 13%;
              }
            }
          }
        }
      }
      .similarsect {
        padding: 40px 30px;
        @media screen and (max-width: 600px) {
          padding: 10px 0px;
        }
        .similarDiv {
          @include grid(repeat(7, 1fr));
          row-gap: 50px;
          column-gap: 20px;
          @media screen and (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
          }
          @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
          }
          .similar-card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            img {
              max-width: 100%;
              height: 260px;
            }
            .noImageDiv {
              background-color: $greyText;
              width: 100%;
              padding: 121px 0;
            }
            p {
              color: $whiteText;
            }
            h4 {
              color: $whiteText;
              text-align: left;
            }
            .fa-star {
              padding-right: 6px;
              color: burlywood;
            }
            .rating {
              font-weight: bold;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
}
